<% content_for :css do %>
  <%= stylesheet_link_tag "devise" %>
<% end %>

<h2 class="title">アカウントロックの解除を再送信する</h2>

<div class="block">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <div class="card">
          <div class="card-content">
            <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>

              <div class="field">
                <%= f.label :email, class: "label" %>
                <div class="control">
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
                </div>
              </div>

              <div class="actions">
                <%= f.submit "アカウントロック解除を再送信する", class: "button is-link" %>
              </div>
            <% end %>
          </div>
        </div>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>