<% content_for :css do %>
  <%= stylesheet_link_tag "devise" %>
<% end %>

<h2 class="title">ログイン</h2>
<div class="block">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <div class="card">
          <div class="card-content">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="field">
                <%= f.label :email, class: "label" %>
                <div class="control">
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
                </div>
              </div>

              <div class="field">
                <%= f.label :password, class: "label" %>
                <div class="control">
                  <%= f.password_field :password, autocomplete: "current-password", class: "input" %>
                </div>
              </div>

              <% if devise_mapping.rememberable? %>
                <div class="field">
                  <div class="control">
                    <%= f.check_box :remember_me, class: "checkbox" %>
                  </div>
                  <%= f.label :remember_me, class: "label" %>
                </div>
              <% end %>

              <div class="actions">
                <%= f.submit "ログイン", class: "button is-link" %>
              </div>
            <% end %>
          </div>
        </div>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>

